$blueLogin: #5acbe4;
$violentLogin: #9813e9;
$greyLight: #969495;
$blackMiddle: #333;
$superBlue: #45c3d2;
$yellow: #f7d800;
$whiteDark: #f5f5f5;
$whiteMiddle: #efeef5;
$primary: #007bff;
$success: #00e676;
